@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato&family=Lobster&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: poppins;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
}

.countdown-container {
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

@media (max-width: 584px) {

    .countdown-container {
        display: block;
    }

    h1 {
        text-align: center;
    }
}
